<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="actorCtrl.js"></script>
    <script src="movieCtrl.js"></script>
    <script src="movieDir.js"></script>

    <title>Document</title>
</head>

<body ng-controller="actorCtrl">
    <div class="container">
        <h1>Actor Gallery</h1>
        <input class="form-control my-3" placeholder="Filter Actor by first name or last name" ng-model="queryActor">
        <br>
        <h5>Sort-by options</h5>
        <select ng-model="orderProp">
            <option value="fname">First Name</option>
            <option value="lname">Last Name</option>
            <option value="birthday">Birthday</option>
        </select>
        <br>
        <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="actor in actors | filter: filterActor | orderBy : orderProp as filteredActors">
                <div class="card" style="width: 18rem;" ng-class="{'bg-danger' : actor === selectedActor}" ng-click="onSelectActor(actor)">
                    <img src="{{actor.image }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{actor.imdb}}" target="_blank">
                            <h5 class="card-title">{{actor.fullName()}}</h5>
                        </a>
                        <p class="card-text">{{actor.birthday|date}}</p>
                    </div>

                </div>
            </div>

        </div>
        <div ng-show="filteredActors.length===0">
            No actors found
        </div>
    </div>
    <div ng-controller="movieCtrl" class="container">
        <div class="media my-5" ng-repeat="movie in movies">
        <movie-data></movie-data>
            <!-- <img class="mr-3" ng-src="{{movie.poster}}">
            <div class="media-body">
                <h5 class="mt-0">{{movie.name}}</h5>
                <p>{{movie.release|date}}</p>
                <p>{{movie.length}}</p>
                <h6>Main Stars</h6>
                <ul>
                    <li ng-repeat="(key,value) in movie.stars">{{value}}</li>
                    <li>{{movie.stars[0]}}</li>
                    <li>{{movie.stars[1]}}</li>
                    <li>{{movie.stars[2]}}</li>
                </ul> -->
            </div>
        </div>
    </div>
</body>

</html>