
        <div class="container">
                <div class="media my-5" ng-repeat="movie in movies"
                        ng-click="onSelectMovie(movie)" ng-dblClick="openMovieDetails(movie)">
                    <movie-data></movie-data>
        
                    <!-- <img class="mr-3" ng-src="{{movie.poster}}">
                    <div class="media-body">
                        <h5 class="mt-0">{{movie.name}}</h5>
                        <p>{{movie.release|date}}</p>
                        <p>{{movie.length}}</p>
                        <h6>Main Stars</h6>
                        <ul>
                            <li ng-repeat="(key,value) in movie.stars">{{value}}</li>
                            <li>{{movie.stars[0]}}</li>
                            <li>{{movie.stars[1]}}</li>
                            <li>{{movie.stars[2]}}</li>
                        </ul> -->
                </div>
            </div>
           
